# Build folders
build/
pymlapigen.egg-info/

# Cache files
__pycache__/
pymlapigen/__pycache__
pymlapigen/static/files

# Sphinx documentation
docs/_build/
docs/__pycache__/

#VSCode extensions
.vscode/