<!DOCTYPE html>
<html lang="es">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %} Demo {% endblock %}</title>
    {% block styles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css' )}}">

    {% endblock %}

    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand" href="
            {% if apiName is defined %}
            {{ url_for('apiHome',apiName=apiName) }}
            {% else %}
            {{ url_for('home') }}
            {% endif %}">PyMLAPIGen</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'home' %}active{% endif %}" aria-current="page"
                            href="{{ url_for('home') }}">
                            {% if apiName is defined %}
                            Exit
                            {% else %}
                            Home
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.endpoint == 'apiHome' or request.endpoint == 'get_load_0' or request.endpoint == 'get_load_1' or request.endpoint == 'get_load_2' or request.endpoint == 'get_load_3'%}active{% endif %}"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if apiName is defined %}
                            Current API: {{apiName}}
                            {% else %}
                            API
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{url_for('get_load_0')}}">Generate new</a></li>
                            <li><a class="dropdown-item" href="{{url_for('get_import')}}">Import API</a></li>
                            {% if api is defined %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if api.step > 0 %}
                            <li><a class="dropdown-item" href="{{url_for('get_load_1',apiName=apiName)}}">{% if api.ready %}Modify{%endif%} Null
                                    Settings</a></li>
                            {% endif %}
                            {% if api.step > 1 %}
                            <li><a class="dropdown-item" href="{{url_for('get_load_2',apiName=apiName)}}">{% if api.ready %}Modify{%endif%} ML
                                    Settings</a></li>
                            {% endif %}
                            {% if api.step > 2 %}
                            <li><a class="dropdown-item" href="{{url_for('get_load_3',apiName=apiName)}}">{% if api.ready %}Modify{%endif%} ML
                                    Parameters</a>
                            </li>
                            {% endif %}

                            {% if api.ready %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="{{url_for('destroy',apiName=apiName)}}">Destroy API</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{url_for('export',apiName=apiName)}}">Export API</a>
                            </li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </li>
                    {% if api is defined %}
                    {% if api.ready %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'dataset' %}active{% endif %}"
                            href="{{url_for('dataset',apiName=apiName)}}">Dataset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'metrics' %}active{% endif %}"
                            href="{{url_for('metrics',apiName=apiName)}}">Metrics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'model' %}active{% endif %}"
                            href="{{url_for('model',apiName=apiName)}}">Model</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'predict' %}active{% endif %}"
                            href="{{url_for('predict',apiName=apiName)}}">Predict</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'graphs' %}active{% endif %}"
                            href="{{url_for('graphs',apiName=apiName)}}">Graphs</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        <small>
            Python Machine Learning REST API Generator
        </small> {% endblock %}
    </footer>
    {% block scripts %}
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js' ) }}"></script>
    <!-- Tooltips Bootstrap -->
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    {% endblock %}
</body>

</html>