{% extends 'base.html' %}
{% block title %} {% if apiName is defined %} API {{apiName}} {% else %} Home {% endif %}{% endblock %}
{% block content %}

<h1 class="d-flex justify-content-center">
    {% if apiName is defined %}
    API {{apiName}}
    {% else %}
    Welcome to Python Machine Learning REST API Generator!
    {% endif %}
</h1>

{% if apiName is defined %}

<h3 class="mt-3 d-flex justify-content-center"> {{ problema }} {% if "Clustering" not in problema %}({{label}}){% endif %} - {{algorithm}}</h2>

    <h2 class="mt-3 mx-3">Web app routes</h2>
    <div class="mx-5">
        <div class="mx-5 mt-3 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Route</th>
                        <th scope="col">Path</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('dataset',apiName=apiName)}}">Dataset</a></td>
                        <td>{{url_for('dataset',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('metrics',apiName=apiName)}}">Metrics</a></td>
                        <td>{{url_for('metrics',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('model',apiName=apiName)}}">Model</a></td>
                        <td>{{url_for('model',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('predict',apiName=apiName)}}">Predict</a></td>
                        <td>{{url_for('predict',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('graphs',apiName=apiName)}}">Graphs</a></td>
                        <td>{{url_for('graphs',apiName=apiName)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2 class="mt-3 mx-3">JSON endpoints</h2>
    <div class="mx-5">
        <div class="mx-5 mt-3 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Route</th>
                        <th scope="col">Methods</th>
                        <th scope="col">Endpoint</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('homeApi',apiName=apiName)}}">Home</a></td>
                        <td>GET</td>
                        <td>{{url_for('homeApi',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('datasetApi',apiName=apiName)}}">Dataset</a></td>
                        <td>GET</td>
                        <td>{{url_for('datasetApi',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('metricsApi',apiName=apiName)}}">Metrics</a></td>
                        <td>GET</td>
                        <td>{{url_for('metricsApi',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex"><a href="{{url_for('modelApi',apiName=apiName)}}">Model</a></td>
                        <td>GET</td>
                        <td>{{url_for('modelApi',apiName=apiName)}}</td>
                    </tr>
                    <tr>
                        <td class="rowIndex">Predict</td>
                        <td>POST</td>
                        <td>{{url_for('predictApi',apiName=apiName)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ url_for('home') }}" class="mt-3 mx-3 btn btn-back">Exit API</a>

    {% else %}
    <p class="mt-3 d-flex justify-content-center"> Try generating a new API with a dataset!</p>


    {% if apis|length > 0 %}
    <h2 class="mt-3 mx-3">APIs</h2>
    <div class="mx-5 mt-3 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">API Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for api in apis %}
                <tr>
                    <td class="rowIndex">{{loop.index}}</td>
                    <td> {{ api }}</td>
                    <td><a href="{{url_for('apiHome',apiName=api)}}">Access</a> <a
                            href="{{url_for('destroy',apiName=api)}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% endif %}


    <img src="{{url_for('static', filename='resources/unex.png')}}" alt="Logo Unex" class="mt-5 mx-auto d-block">

    {% endblock %}