{% extends 'base.html' %} {% block title %} Import API {% endblock %} {% block content %}
<h1> Import API </h1>


{% if error is defined %}
<div class="alert alert-danger alert-dismissible fade show col-5" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form method="POST" action="" enctype="multipart/form-data">
    <div class="mx-2 mt-3">
        <div class="form-group row">
            <label for="name" class="col-sm-1 col-form-label"> API Name: </label>
            <div class="col-1">
                <input type="text" id="apiName" name="apiName" placeholder="API" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="mx-2 mt-3">
        <div class="form-group row mt-3">
            <label for="file" class="col-sm-1 col-form-label"> File: </label>
            <div class="col-sm-3">
                <input type="file" name="file" class="form-control" required>
            </div>
        </div>
        <input type="submit" value="Import" class="btn mt-3">
</form>
</div>
{% endblock %}