{% extends 'base.html' %} {% block title %} Null settings {% endblock %} {% block content %}


{% if api.ready %}
<div class="alert alert-warning alert-dismissible fade show col-5" role="alert">
    Warning! If you do a modification, you will have to generate the API again!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<h1>{% if api.ready %}Modify {% endif%}Null settings </h1>
<div class="mx-2">
    <form method="POST" action="" enctype="multipart/form-data">
        <label class="mt-1"> What to do with <strong>null</strong> or <strong>nan</strong> values: </label>
        <div class="form-check mt-3">
            <input type="radio" name="nan" value="drop" class="form-check-input" checked>
            <label for="drop" class="form-check-label">Drop missing values rows.</label>
            <span class="ms-2">
                <img src="{{url_for('static', filename='resources/tooltip.png')}}" class="img-fluid toolimage"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="This option deletes from the uploaded dataset those rows with any null or nan value.">
            </span>
        </div>
        <div class="form-check mt-3">
            <input type="radio" name="nan" value="fill" class="form-check-input">
            <label for="fill" class="form-check-label">Fill missing values with:</label>
            <input type="text" id="fillvalue" name="fillvalue" value="-1" required>
            <span class="ms-2">
                <img src="{{url_for('static', filename='resources/tooltip.png')}}" class="img-fluid toolimage"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="This option replaces any null or nan value with the input value.">
            </span>
        </div>
        <div class="form-check mt-3">
            <input type="radio" name="nan" value="mean" class="form-check-input">
            <label for="drop" class="form-check-label">Replace with the mean value of the column.</label>
            <span class="ms-2">
                <img src="{{url_for('static', filename='resources/tooltip.png')}}" class="img-fluid toolimage"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="This option replaces any null or nan value with the mean value of its column. Non numerical columns will be filled with the most common value. Columns with no values will be dropped.">
            </span>
        </div>

        <div class="mt-3">
            <a href="{{ url_for('get_load_0') }}" class="btn btn-back">Back</a>
            <input type="submit" value="{% if api.ready %}Modify{% else %}Next{% endif %}" class="btn ms-1 {% if api.ready %}btn-modify{%endif%}">
        </div>
    </form>
</div>


{% endblock %}