{% extends 'base.html' %} {% block title %} Metrics - API {{apiName}} {% endblock %}
{% block content %}
<h1>Metrics</h1>

<div id="datasetTable" class="mx-5 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr>
                {% for item in headers %}
                <th scope="col"> {{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for metric in metrics %}
                {% if metric is iterable %}
                <td>
                    <div class="table-responsive">
                    <table class="table">
                    <tbody>
                    {% for row in metric %}
                    <tr>
                    {% for value in row %}
                    <td class="text-center">{{ value }}</td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                </div>
                </td>
                {% else %}
                <td> {{ metric }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-3 showable showable-disabled" onclick="toggle()">Test set evaluation</h2>
<div class="mx-5 mt-3 table-responsive">
    <table id="predictionTable" class="table table-sortable " id="datasetTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                {% for item in test_headers %}
                <th scope="col">{{ item }}</th>
                {% endfor %}
                <th scope="col" class="labelHeader">{{ test_label }} (label)</th>
                <th scope="col" class="lastHeader" >Predicted label</th>
                {% if "Clustering" not in problem %}
                <th scope="col">
                    {% if "Classification" in problem %}
                    Good prediction?
                    {% elif "Regression" in problem %}
                    Error
                    {% endif%}
                </th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for feature in x_test %}
            <tr> 
                <td class="rowIndex">{{loop.index}}</td>
                {% for value in feature %}
                <td> {{ value }}</td>
                {% endfor %}
                <td class="labelValue"> {{ y_test[loop.index - 1] }}</td>
                <td class="lastValue"> {{ predictions[loop.index - 1] }}</td>
                {% if "Clustering" not in problem %}
                <td>
                    {% if "Classification" in problem %}
                    {% if y_test[loop.index - 1]==predictions[loop.index - 1]%}Yes{% else %}No{% endif %}
                    {% elif "Regression" in problem %}
                    {{ predictions[loop.index - 1] - y_test[loop.index - 1]}}
                    {% endif%}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/sortTable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/showPredictions.js') }}"></script>
{% endblock %}