{% extends 'base.html' %} {% block title %} Model - API {{apiName}} {% endblock %} {% block styles %} {{ super() }}
<style>
    table,
    th,
    td {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid;
    }
</style>
{% endblock %} {% block content %}
<h1>Model</h1>

<div id="datasetTable" class="mx-5 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr>
                {% for item in headers %}
                <th> {{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for metric in metrics %}

                {% if metric is mapping %}
                <td>
                    <ul>
                        {% for key in metric %}
                        <li><strong>{{key}}</strong>: {{metric[key]}}</li>
                        {% endfor %}
                    </ul>
                </td>
                {% elif metric is iterable and metric is not string %}
                <td>
                    {% if metric|length %}
                    <ul>
                        {% for item in metric %}<li>{{ item }}</li>{% endfor %}
                    </ul>
                    {% else %}
                    <i>None</i>
                    {% endif %}
                </td>
                {% else %}
                <td>{{metric}}</td>
                {% endif%}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}