{% extends 'base.html' %}
{% block title %} Predict - API {{apiName}} {% endblock %}
{% block content %}
<h1> Predict</h1>

{% if error is defined and error %}
<div class="alert alert-danger alert-dismissible fade show col-5" role="alert">
    An error has occurred. Cannot predict with the data provided.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if headers is defined and dataset is defined %}
<div class="alert alert-success alert-dismissible fade show col-5" role="alert">
    Successfully predicted! Go to <a href="#result" style="color: #0b3b25;">prediction result</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<h2> Input </h2>
<form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="form" value="Input">

    <div class="row g-3 align-items-center">
        {% for feature in features %}
        <div class="col-auto">
            <label for="{{feature}}"><strong>{{feature}}</strong></label>
            <input type="{{feature}}" class="form-control" name="{{feature}}" placeholder="{{feature}}...">
        </div>
        {% endfor %}

    </div>
    <input type="submit" value="Predict" class="btn mt-3">
</form>
<h2 class="mt-3"> JSON </h2>
<form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="form" value="JSON">
    <div class="col-5">
        <textarea id="jsonInput" name="jsonInput" placeholder="Input JSON..." rows="20" class="form-control"
            required></textarea>
    </div>
    <input type="submit" value="Predict" class="btn mt-3">
</form>

<hr />

<h2 class="mt-3"> CSV </h2>
<form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="form" value="CSV">
    <div class="form-group row">
        <label for="separator" class="col-sm-1 col-form-label"> Separator: </label>
        <div class="col-sm-1">
            <div class="col-sm-8">
                <input type="text" id="separator" name="separator" placeholder="," class="form-control" required>
            </div>
        </div>
    </div>
    <div class="form-group row mt-3">
        <label for="file" class="col-sm-1 col-form-label"> Fichero: </label>
        <div class="col-sm-3">
            <input type="file" name="csvInput" class="form-control" required>
        </div>
    </div>
    <input type="submit" value="Predict" class="btn mt-3">
</form>



{% if headers is defined and dataset is defined %}
<hr />

<h2 class="mt-3" id="result">Prediction Result</h2>

<div id="datasetTable" class="mx-5 mt-3 table-responsive">
    <table class="table table-sortable">
        <thead>
            <tr>
                <th scope="col">#</th>
                {% for item in headers %}
                <th scope="col"
                    class="{% if typeHeader[loop.index - 1] == 'NotUsed' %}unusedHeader{% endif %} {% if typeHeader[loop.index - 1] == 'Label' %}labelHeader{% endif %} {% if loop.last %}lastHeader{% endif %}">
                    {{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in dataset %}
            {% set row_id = loop.index - 1 %}
            <tr>
                <td class="rowIndex">{{loop.index}}</td>
                {% for value in row %}
                <td
                    class="{% if typeDataset[row_id][loop.index - 1] == 'NotUsed' %}unusedValue{% endif %} {% if typeDataset[row_id][loop.index - 1] == 'Label' %}labelValue{% endif %} {% if typeDataset[row_id][loop.index - 1] == 'NullRow' %}nullRow{% endif %} {% if value != value or (value != 0 and not value) %}Nan{% endif %} {% if loop.last %}lastValue{% endif %} {% if value == 'DROPPED' %}Dropped{% endif %}">
                    {{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sortTable.js') }}"></script>
{% endblock %}